@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 500; }
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300; }
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 1144px;
  margin: auto;
  padding: 1em 0; }

h1 {
  margin: 1em auto .2em;
  font-size: 3em;
  font-weight: 300;
  color: #5370AB;
  text-align: center; }

li a {
  font-weight: normal;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block; }

.version {
  font-size: 16px; }

.wide {
  height: 100%;
  width: 100%; }

#notification {
  position: fixed;
  margin: 1em;
  top: 0;
  left: 0;
  opacity: 0;
  display: none; }
  #notification p {
    padding: .5em 1em;
    font-size: 1.3em;
    color: #fff;
    margin-bottom: .5em; }
  #notification .notif {
    background-color: #597ebf; }
  #notification .error {
    background-color: #e0253d; }

@keyframes appear {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fil_ariane {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3em; }
  .fil_ariane .wide {
    display: flex;
    align-items: flex-end;
    justify-content: center; }
  .fil_ariane li {
    width: 6em;
    height: 6em;
    background: url("../img/folder.svg") no-repeat center;
    background-size: 4em;
    position: relative;
    margin: 0 3em 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    .fil_ariane li span {
      white-space: nowrap;
      left: 0; }
  .fil_ariane li::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 92%;
    height: 1px;
    width: 110%;
    background-color: #454545;
    z-index: -1; }
  .fil_ariane li:last-child {
    transform: scale(1.3) translateX(6px);
    transform-origin: bottom center; }
    .fil_ariane li:last-child a {
      padding: 0; }
  .fil_ariane li:last-child::after {
    visibility: hidden; }

.is_empty {
  text-align: center;
  margin: 2em auto; }

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 15em));
  grid-gap: 4em 2em;
  justify-content: center;
  max-width: 68em;
  margin: 0 auto 2em; }

.foldertype {
  min-width: 8em;
  max-width: 14em;
  height: 6em;
  background: url("../img/folder.svg") no-repeat center left;
  background-size: 5.5em;
  position: relative;
  opacity: 1;
  transition: .3s ease-in-out;
  justify-self: center; }
  .foldertype .folder_item span {
    white-space: nowrap;
    position: absolute;
    background: #fff;
    bottom: 1.5em;
    left: .2em;
    padding: .2em; }
  .foldertype .folder_suppresser, .foldertype .rename_folder {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s ease-in-out;
    font-size: 1.5em;
    font-weight: bold; }
  .foldertype .rename_folder {
    top: 50%; }

.foldertype:hover .folder_suppresser {
  opacity: 1;
  transform: translateY(-0.5em); }
.foldertype:hover .rename_folder {
  transform: translateY(1.5em);
  opacity: 1; }

.filetype {
  min-width: 8em;
  max-width: 12em;
  height: 6em;
  background: url("../img/file.svg") no-repeat center;
  background-size: 3.5em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  opacity: 1;
  transition: .3s ease-in;
  justify-self: center; }
  .filetype .file_item {
    white-space: nowrap;
    margin-bottom: 1em;
    background: #fff;
    padding: .2em; }
  .filetype .file_suppresser, .filetype .file_dlr {
    opacity: 0;
    bottom: 50%;
    position: absolute;
    transition: .3s ease-in-out;
    font-size: 1.5em;
    font-weight: bold; }

.filetype:hover .file_suppresser {
  opacity: 1;
  transform: translateY(-1.6em); }
.filetype:hover .file_dlr {
  opacity: 1;
  transform: translateY(2.6em); }

#rename {
  visibility: hidden; }

#tools {
  display: flex;
  justify-content: center; }

#makedir {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  justify-content: center; }
  #makedir label {
    display: none; }
  #makedir #makedir_nomDossier {
    font-family: 'Montserrat', sans-serif;
    padding: .2em;
    border: none;
    border-bottom: 1px solid #313131;
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 10em;
    text-align: center; }
  #makedir input[type=submit] {
    color: transparent;
    height: 6em;
    width: 8em;
    background: url("../img/download.svg") no-repeat center;
    background-size: 6em;
    border: none;
    cursor: pointer; }

#uploader {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #uploader label {
    height: 6em;
    width: 8em;
    background: url("../img/upload_icon.svg") no-repeat center;
    background-size: contain;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1em; }
    #uploader label * {
      background: #fff; }
  #uploader input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  #uploader input[type=submit] {
    background: none;
    font-family: 'Montserrat', sans-serif;
    padding: .2em;
    border: 1px solid #b2b2b2;
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 8em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s ease-in-out; }
  #uploader input[type=submit]:hover {
    background-color: #5370AB;
    color: #fff;
    border-color: #5370AB; }

.shortcuts_container {
  display: flex;
  justify-content: center;
  margin-top: 4em; }

.shortcuts {
  line-height: 2;
  border: 1px solid #b2b2b2;
  padding: 1em;
  display: inline-block; }
  .shortcuts li {
    transition: .3s ease-in-out;
    margin-bottom: .5em; }
  .shortcuts li:hover {
    background: rgba(109, 149, 226, 0.51); }

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .login_form h2 {
    font-size: 2em;
    color: #5370AB;
    margin-bottom: 2em; }
  .login_form label {
    margin-bottom: 1em;
    font-size: 1.5em; }
  .login_form input {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 1px solid #313131;
    padding: .1em; }
  .login_form button {
    background: none;
    font-family: 'Montserrat', sans-serif;
    padding: .2em;
    border: 1px solid #b2b2b2;
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 8em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s ease-in-out; }
  .login_form button:hover {
    background-color: #5370AB;
    color: #fff;
    border-color: #5370AB; }

/*# sourceMappingURL=style.css.map */
