@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Light.ttf');
  font-weight: 300;
}