//sass --watch public/assets/scss/style.scss:public/assets/css/style.css
@import "fonts";

//Règles générales--------------------------------------------------------------------------
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1144px;
  margin: auto;
  padding: 1em 0;
}

h1 {
  margin: 1em auto .2em;
  font-size: 3em;
  font-weight: 300;
  color: #5370AB;
  text-align: center;
}

li {
  a {
    font-weight: normal;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
  }

}

.version {
  font-size: 16px;
}

.wide {
  height: 100%;
  width: 100%;
}

//Popup de notifications -----------------------------------------------------------------------

#notification{
  position: fixed;
  margin: 1em;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
  p{
    padding: .5em 1em;
    font-size: 1.3em;
    color: #fff;
    margin-bottom: .5em;
  }

  .notif{
    background-color: #597ebf;
  }

  .error{
    background-color: #e0253d;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
  }

  10%{
    opacity: 1;
  }

  90%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}

//Fil d'ariane --------------------------------------------------------------------------------

.fil_ariane {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3em;

  .wide {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  li {
    width: 6em;
    height: 6em;
    background: url("../img/folder.svg") no-repeat center;
    background-size: 4em;
    position: relative;
    margin: 0 3em 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;


    span {
      white-space: nowrap;
      left: 0;
    }
  }

  li::after {
    content: '';
    position: absolute;
    top: 60%;
    left: 92%;
    height: 1px;
    width: 110%;
    background-color: #454545;
    z-index: -1;
  }

  li:last-child {
    transform: scale(1.3) translateX(6px);
    transform-origin: bottom center;

    a {
      padding: 0;
    }
  }

  li:last-child::after {
    visibility: hidden;
  }

}

//Dossiers -------------------------------------------------------------------------------------

.is_empty {
  text-align: center;
  margin: 2em auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 15em));
  grid-gap: 4em 2em;
  justify-content: center;
  max-width: 68em;
  margin: 0 auto 2em;
  //display: flex;
  //justify-content: center;
  //flex-wrap: wrap;
}

.foldertype {
  min-width: 8em;
  max-width: 14em;
  height: 6em;
  background: url("../img/folder.svg") no-repeat center left;
  background-size: 5.5em;
  position: relative;
  opacity: 1;
  transition: .3s ease-in-out;
  justify-self: center;

  .folder_item span {
    white-space: nowrap;
    position: absolute;
    background: #fff;
    bottom: 1.5em;
    left: .2em;
    padding: .2em;
  }

  .folder_suppresser, .rename_folder {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s ease-in-out;
    font-size: 1.5em;
    font-weight: bold;
  }

  .rename_folder{
    top: 50%;
  }
}

.foldertype:hover {
  .folder_suppresser {
    opacity: 1;
    transform: translateY(-.5em);
  }

  .rename_folder{
    transform: translateY(1.5em);
    opacity: 1;
  }
}


//Fichiers -------------------------------------------------------------------------------------------

.filetype {
  min-width: 8em;
  max-width: 12em;
  height: 6em;
  background: url("../img/file.svg") no-repeat center;
  background-size: 3.5em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  opacity: 1;
  transition: .3s ease-in;
  justify-self: center;

  .file_item {
    white-space: nowrap;
    margin-bottom: 1em;
    background: #fff;
    padding: .2em;

  }

  .file_suppresser, .file_dlr {
    opacity: 0;
    bottom: 50%;
    position: absolute;
    transition: .3s ease-in-out;
    font-size: 1.5em;
    font-weight: bold;
  }
}

.filetype:hover {
  .file_suppresser {
    opacity: 1;
    transform: translateY(-1.6em);
  }

  .file_dlr {
    opacity: 1;
    transform: translateY(2.6em);
  }
}

//Outils ---------------------------------------------------------------------------------------

#rename{
  visibility: hidden;
}

#tools {
  display: flex;
  justify-content: center;
}

#makedir {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  justify-content: center;

  label {
    display: none;
  }

  #makedir_nomDossier {
    font-family: 'Montserrat', sans-serif;
    padding: .2em;
    border: none;
    border-bottom: 1px solid #313131;
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 10em;
    text-align: center;
  }


  input[type=submit] {
    color: transparent;
    height: 6em;
    width: 8em;
    background: url("../img/download.svg") no-repeat center;
    background-size: 6em;
    border: none;
    cursor: pointer;
  }
}

#uploader {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  label {
    height: 6em;
    width: 8em;
    background: url('../img/upload_icon.svg') no-repeat center;
    background-size: contain;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1em;
    *{
      background: #fff;
    }
  }

  input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  input[type=submit] {
    background: none;
    font-family: 'Montserrat', sans-serif;
    padding: .2em;
    border: 1px solid #b2b2b2;
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 8em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s ease-in-out;
  }

  input[type=submit]:hover{
    background-color:  #5370AB;
    color: #fff;
    border-color: #5370AB;
  }

}
.shortcuts_container{
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.shortcuts{
  line-height: 2;
  border: 1px solid #b2b2b2;
  padding: 1em;
  display: inline-block;

  li{
    transition: .3s ease-in-out;
    margin-bottom:  .5em;
  }
  li:hover{
    background: rgba(109, 149, 226, 0.51);
  }
}

//Page de login ------------------------------------------------------------------------------

.login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  h2{
    font-size: 2em;
    color: #5370AB;
    margin-bottom: 2em;
  }

  label{
    margin-bottom: 1em;
    font-size: 1.5em;
  }

  input{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 1px solid #313131;
    padding: .1em;
  }

  button{
    background: none;
    font-family: 'Montserrat', sans-serif;
    padding: .2em;
    border: 1px solid #b2b2b2;
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 8em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s ease-in-out;
  }

  button:hover{
    background-color:  #5370AB;
    color: #fff;
    border-color: #5370AB;
  }
}
