{% extends 'base.html.twig' %}
{% block body %}

    {% for message in app.session.flashBag.get("login") %}
    <p>message</p>
    {% endfor %}

    {{ formstart(auth) }}
    {{ form_widget(auth) }}
    <input type="submit" value="Envoyer">
    {{ form_end(auth) }}

{% endblock %}