<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/reset.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {% endblock %}

</head>

<body>

    <div class="container">

        <h1>FactoryCloud <br><span class="version">v0.01</span></h1>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset("js/scripts.js") }}"></script>
        {% endblock %}

    </div>

</body>

</html>
