{% extends 'base.html.twig' %}
{% block body %}

    {% set depth = 0 %}

    <ul class="fil_ariane">
        {% for branche in ariane %}
            <li><a href="{{ branche }}"
                   class="ariane_item wide"><span>{{ arianeParts[depth]|replace({'_' : ' '})|raw }}</span></a>
            </li>
            {% set depth = depth +1 %}
        {% endfor %}
    </ul>

    <div id="notification">
        {% for message in app.session.flashBag.get('notif') %}
            <p class="notif">{{ message }}</p>
        {% endfor %}
        {% for message in app.session.flashBag.get('erreur') %}
            <p class="error">{{ message }}</p>
        {% endfor %}
    </div>


    {% if folders is empty %}
        <p class="is_empty">Ce dossier est vide.</p>
    {% else %}
        <ul class="content">
            {% for item in folders|sort %}

                {% if item.type == 'file' %}

                    {% set frontName = item.filename|replace({'_' : ' '})|raw %}

                    <li class="filetype">
                        <a href="{{ asset('uploads/' ~ chemin|replace({'-' : '/'}) ~ '/' ~ item.filename) }}"
                           class="file_item" title="{{ frontName }}">
                            {{ frontName|length > 18 ? frontName|slice(0, 18) ~ '…' : frontName|raw }}
                        </a>
                        <a href="{{ path('delete_file', {'chemin' : chemin|replace({'/' : '-', (item.filename) : ''}), 'target' : item.filename }) }}"
                           class="file_suppresser" title="Supprimer le fichier"> X </a>
                        <a href="{{ path('dl_file', {'chemin' : chemin|replace({'/' : '-', (item.filename) : ''}), 'target' : item.filename }) }}"
                           class="file_dlr" title="Télécharger le fichier"> V </a>
                    </li>
                {% endif %}

                {% if item.type == 'dir' %}

                    {% set frontName = item.filename|replace({'_' : ' '}) %}

                    <li class="foldertype" data-currentName = "{{ frontName|raw }}">
                        <a href="{{ chemin ~ '-' ~ item.filename }}" class="folder_item wide"
                           title="{{ frontName|raw }}">
                            <span>
                            {{ frontName|length > 18 ? frontName|slice(0, 18) ~ '…' : frontName|raw }}
                            </span>
                        </a>
                        <a href="#" class="rename_folder">🖊</a>
                        {% if chemin is not empty %}
                            <a href="{{ path('delete_folder', {'chemin' : chemin|replace({'/' : '-', (item.filename) : ''}), 'target' : item.filename }) }} "
                               class="folder_suppresser" title="Supprimer le dossier"> X </a>
                        {% endif %}

                    </li>

                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if chemin is not empty %}
        <div id="tools">

            {{ form_start(makedir,{ 'name': 'makedir', 'attr': {'id': 'makedir'}}) }}
            {{ form_widget(makedir.nomDossier, {'attr': {'placeholder': 'Nouveau dossier|'}}) }}
            <input type="submit" value="">
            {{ form_end(makedir) }}

            {{ form_start(uploader,{ 'name': 'uploader', 'attr': {'id': 'uploader'}}) }}
            {{ form_label(uploader.item) }}
            {{ form_widget(uploader.item, {'attr' :{'data-multiple-caption' : "{count} files selected", 'multiple' : 'true'}}) }}
            <input type="submit" value="Envoyer">
            {{ form_end(uploader) }}

        </div>

        <div class="shortcuts_container">
            <ul class="shortcuts">
                <li><a href="{{ path('arbo_mois', {'chemin' : chemin}) }}">Créer une arborescence pour les mois de
                        l'année
                        -></a></li>
                <li><a href="{{ path('arbo_compta', {'chemin' : chemin}) }}">Créer une arborescence pour la comptabilité
                        -></a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}